/* --------- ---------  BODY --------- ---------   */
body {
  background-color: #D8D8D8;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* --------- ---------  HIDDEN ITEMS  --------- ---------  */
.sidebox.create .morelink,.sidebox .subtitle,.sidebox.submit .spacer a,.sidebox.create .spacer a,.titlebox .bottom,.srSep,.nub,.leavecontributor-button,.more,.users-online:before, #header .tabmenu [href$="/ads/"],  #header .tabmenu [href$="/gilded/"] { display: none; } { display: none; } {
  display: none;
}

/* --------- ---------  HEADER  --------- ---------  */
#header {
  border-bottom: none;
    background: #0079d3;
    height: 119px;
}

#header-bottom-left {
  background-color: #0079d3;
  border: 0;
  height: 100px;
  padding: 0;
    position: absolute;
    bottom: 0;
    height: auto;
}

#header-bottom-right {
  background-color: #0288D1;
  color: #fff;
  display: block;
  border: none;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 7px;
  line-height: 26px;
  height: 26px;
  border-radius: 0;
  padding: 0 10px;
}

.user {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 26px;
  height: 26px;
}

#header-bottom-right a {
  color: #fff;
  font-weight: 300;
}

#userbarToggle {
  color: #fff;
  background-color: #0288D1;
  border-right: none;
  border-radius: 0;
  font-size: 14px;
  line-height: 26px;
  height: 26px;
}

#userbarToggle.userbarShow {
  font-size: 14px;
  line-height: 26px;
  height: 26px;
  border-radius: 0;
}

#header-img {
  width: 120px;
  border-bottom: 3px solid transparent;
}

.res-navTop {
  top: 25px;
}

#RESShortcutsEditContainer {
  background-color: transparent;
  margin-right: 5px;
}

#RESShortcutsSort,#RESShortcutsRight,#RESShortcutsLeft,#RESShortcutsAdd,#RESShortcutsTrash {
  background-color: transparent;
  color: #fff;
}

.redditname,.redditname a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 26px;
  height: 26px;
  font-size: 22px;
  font-weight: 300;
  margin-left: 15px;
    margin-right: 30px;

}

.redditname,.redditname a:hover {
text-decoration:none;
color:#374046;
}

#sr-header-area {
  background-color: #0288D1;
  display: block;
  border: none;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 24px;
  height: 26px;
  padding: 0;

}

#sr-more-link,#sr-more-link a {
  background-color: #0288D1;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 24px;
  height: 26px;
  font-weight: 300;
}

#RESShortcuts,.separator {
  color: transparent;
}

.sr-bar .separator {
color: #fff;}

.tabmenu {
  margin-left: 30px;
  margin-top: 79px;
  border: none;
  line-height: 26px;
  height: 26px;
  font-size: 14px;
  background-color: transparent;
  text-transform: capitalize;


    margin: 2px;
}

.tabmenu li a {
  background-color: #D8D8D8;
  color: #212121;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 26px;
  height: 26px;
  font-size: 14px;
  font-weight: 300;
}

.tabmenu a {
  background-color: #D8D8D8;
  color: #212121;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 26px;
  height: 26px;
  font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
}

.tabmenu li.selected a,.tabmenu a:hover {
  background-color: #7BB850;
  color: #fff;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 26px;
  height: 26px;
  font-size: 14px;
}


/* --------- ---------  
Code created by u/okayshure
Please don't claim this as your own.
You're welcome to use it
I only ask that you leave my credit here.
--------- ---------   */


/* --------- ---------  SIDEBAR  --------- ---------  */
.side {
  background-color: #fff;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px;
}

.sidebox.create .spacer { display: none; }

.side a {
font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:12px;}

.morelink {
  border: 0;
}

.morelink a {
  color: #fff;
  background-color: #7BB850;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.morelink a:hover {
  color: #fff;
  background-color: #0079d3;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.titlebox h1.redditname {
  color: #212121;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 300;
  text-align: center;
}

body > div.side > div:nth-child(5) > div > form.toggle.res-sr-style-toggle{
  color: #212121;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 300;
  text-align: center;
}

.titlebox .tagline {
border:0;
background:transparent;
font-size:12px;
border-width:0 ;
margin:0 2px 10px 0;
padding:0 5px 5px 35px;
}

.titlebox .subButtons {
display:block!important;
}

.titlebox .fancy-toggle-button {
display:block;
margin:10px 0 0;
}
.entry .flat-list,.subButtons .fancy-toggle-button {
display:inline-block;}

.RESDashboardToggle,.RESFilterToggle,.RESshortcutside,.fancy-toggle-button .active,a.blueButton,div.blueButton {
display:inline-block!important;
min-width:85px;
height:auto!important;
outline:0;
border-radius:0!important;
text-align:center;
font-weight:300;
font-size:11px!important;
line-height:14px!important;
border-color:#0288D1!important;
margin:5px -3px 0 0 !important;
text-align:center;
padding:3px 7px!important;
}

.fancy-toggle-button .add {
background:none #0288D1!important;
color:#fff;
border-color:#0288D1!important;
font-weight:300;
text-align:center;
}

.fancy-toggle-button .remove {
background:none #0288D1;
color:#fff;
font-weight:300;
text-align:center;
}

.RESDashboardToggle,.RESFilterToggle,.RESshortcutside,a.blueButton,div.blueButton {
background:none #0288D1!important;
color:#fff!important;
text-align:center;
}

.subscribers,.users-online {
position:relative;
display:inline-block;
width:108px;
vertical-align:top;
white-space:nowrap;
margin:0px;
padding:10px 20px 5px;
text-align:center;
background-color:#fff;
text-transform:capitalize;
}

.users-online {
margin-bottom:.25em;
width:127px;
border:1px solid #fff;
background:#fff;
padding:10px 0 5px 20px;
text-align:center;
text-transform:capitalize;
}

.subscribers .number,.users-online .number {
display:block;
font-size:14px;
line-height:1;
text-align:center;
background-color:#fff;
text-transform:capitalize;
}

.users-online:after {
position:absolute;
top:-1px;
right:0px;
width:295px;
height:100%;
border:1px solid #fff;
content:'';
text-align:center;
}

.users-online+form.flairtoggle {
margin-top:-4px;
}



.sidecontentbox .title h1 {
  color: #fff;
  background-color: #0079d3;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  width: 280px;
}

.sidecontentbox .content {
  border: 0;
}

.content {
  margin-right: 365px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.thing {
  background-color: #fff;
  border: none;
}

.link {
  padding: 10px;
}


.thumbnail.self {
  background-image:none;
  background-color:#0079d3;
  height:50px;
  width:75px;
  text-align:center;
  line-height:50px;
}  

.thumbnail.self:after { 
  content: "Text"; 
  color:#fff;
  font-size:14px;
  height:50px;
  width:75px; 
  text-align:center;
  line-height:50px;
}

.thumbnail.default{
  background-image:none;
  background-color:#7BB850;
  height:50px;
  width:75px;
  text-align:center;
  line-height:50px;
}  

.thumbnail.default:after { 
  content: "Link"; 
  color:#fff;
  font-size:14px;
  height:50px;
  width:75px; 
  text-align:center;
  line-height:50px;
}

.thumbnail
{height:50px;
width:75px;
margin-right:10px;}

.arrow {
  width: 16px;
  height: 16px;
}

.dropdown.srdrop .selected,.sr-bar a {
  color: #fff;
}

#noresults 
{padding:10px;}

.icon-menu a,.sidebox .spacer,.titlebox form.toggle,.leavemoderator {
  background-color: transparent;
  margin: 5px;
  color: #212121;
  font-size: 12px;
  text-transform: capitalize;
}

.linkinfo
{background:transparent;
border:0;
text-transform: capitalize;}

.footer
{border:0!important;
color:gray;
text-transform: capitalize;}

.footer-parent
{border:0!important;
color:gray;
text-transform: capitalize;}

.footer .col
{border:0!important;
color:gray;
text-transform: capitalize;}

.footer a 
{border:0!important;
color:gray;
text-transform: capitalize;}

/* --------- ---------  EXTRA STUFF  --------- ---------  */